@import url(../component.css);

/* Alert icons */
.material-symbols-outlined {
    vertical-align: middle;
}

/* Alert container */
.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
    width: fit-content;
    margin: 2rem;
    font-weight: bolder;
}

/* Information */
.alert-info {
    background-color: var(--text-light);
    color: #34639d;
    border: 1px solid #34639d;
}

/* Alert */
.alert-warning {
    background-color: var(--accent);
    color: #786a37;
    border: 1px solid #786a37;
}

/* Error */
.alert-error {
    background-color: var(--danger);
    color: rgb(239, 173, 173);
    border: 1px solid rgb(239, 173, 173);
}

/* Success */
.alert-success {
    background-color: var(--success);
    color: #162d17;
    border: 1px solid #162d17;
}
