@import url(../component.css);

/* Avatar */
.avatar {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem;
}

/* Avatar large */
.avatar-lg {
    width: 15rem;
    height: auto;
}

/* Avatar medium */
.avatar-md {
    width: 10rem;
    height: auto;
}

/* Avatar small */
.avatar-sm {
    width: 5rem;
    height: auto;
}
