@import url(../component.css);

/* Images Avatar */
.avatar {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    margin: 1rem;
}

/* Avatar large */
.avatar-lg {
    width: 15rem;
    height: auto;
}

/* Avatar medium */
.avatar-md {
    width: 10rem;
    height: auto;
}

/* Avatar small */
.avatar-sm {
    width: 5rem;
    height: auto;
}

/* Initials Avatar */

/* Initial Avatar Large */
.avatar-span-lg {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--light);
    font-size: 6rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}
/* Initial Avatar Medium */
.avatar-span-md {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--light);
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}
/* Initial Avatar Small */
.avatar-span-sm {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--light);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
}
