@import url(../component.css);

/* Badge Container */
.badge-container {
    position: relative;
    display: inline-block;
    margin: 1rem;
}

/* Badge icon */
.badge-container .material-icons {
    font-size: 40px;
}

/* Badge number */
.badge-number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px;
    border-radius: 40%;
    font-size: 10px;
    font-weight: 700;
}

/* Badge colors */
.badge-light {
    background-color: var(--accent);
    color: var(--primary);
}

.badge-dark {
    background-color: var(--danger);
    color: var(--light);
}

.badge-online {
    border: 4px solid var(--success);
    box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.2);
}

.badge-offline{
    border: 4px solid var(--danger);
    box-shadow: 0 0.5rem 1rem rgba(249, 117, 117, 0.2);
}

.badge-idle{
    border: 4px solid var(--warning);
    box-shadow: 0 0.5rem 1rem rgba(243, 223, 135, 0.2);
}