:root {
    --primary: #091429;
    --secondary: #6ec5ea;
    --accent: #ffdc5d;
    --light: #f8fafc;
    --text-light: #cbd5e1;
    --text-dark: #4289c1;
    --danger: #d84646;
    --danger-dark: #eb3737;
    --success: #4e9a51;
    --success-dark: #3b7d2e;
    --warning: #d4a13a;
    --warning-dark: #e99d04;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600&family=Merriweather:wght@300;400;700&display=swap');

html {
    height: 100%;
    font-size: 63%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'IBM Plex Serif', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 830px) {
    html {
        font-size: 44%;
        /*7px*/
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 38%;
        /*6px*/
    }
}

.button {
    background-color: var(--accent);
    color: var(--primary);
    padding: 0.5rem 1rem;
}

/* To show hover effect only on devices which support hover effects */

@media (hover: hover) {
    .button:hover {
        background-color: var(--danger-dark);
        color: var(--accent);
    }
}
