@import url(../component.css);

/* Button */
.btn {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    border-radius: 8px;
}

.btn .material-icons {
    vertical-align: middle;
    font-size: 4rem;
    color: white;
}

/* Button Primary */
.btn-primary {
    background-color: var(--primary);
    color: var(--text-light);
}

/* Button Secondary */
.btn-secondary {
    background-color: var(--text-dark);
    color: var(--primary);
}

/* Button accent */
.btn-accent {
    background-color: var(--accent);
    color: var(--primary);
}

/* Disabled button */
.btn-disabled {
    cursor: not-allowed;
    background-color: rgb(95, 95, 95);
    color: black;
}

/* Button Primary Outlined */

.btn-primary-outlined {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: black;
}

/* Button Secondary Outlined */
.btn-secondary-outlined {
    border: 2px solid var(--text-dark);
    color: var(--text-dark);
}

/* Button Accent Outlined */
.btn-accent-outlined {
    border: 2px solid var(--accent);
    color: var(--accent);
}

/* Button Primary Icon */
.btn-cart-icon {
    background-color: var(--primary);
    color: var(--text-light);
}

/* Button Delete Icon */
.btn-delete-icon {
    background-color: rgb(246, 47, 47);
    color: white;
}

/* Button send Icon */
.btn-send-icon {
    background-color: var(--success);
    color: white;
}

/* Button  Float*/
.btn-float {
    width: fit-content;
    border-radius: 50%;
    cursor: pointer;
    margin: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-float .material-icons {
    font-size: 4.5rem;
    padding: 2rem;
}

/* Hove effects */
@media (hover: hover) {
    .btn:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        filter: brightness(1.1);
    }
    .btn-accent-outlined:hover {
        background-color: var(--accent);
        color: var(--primary);
    }

    .btn-primary-outlined:hover {
        background-color: var(--primary);
        color: var(--text-light);
    }

    .btn-float:hover {
        filter: brightness(1.2);
    }

    .btn-secondary-outlined:hover {
        background-color: var(--text-dark);
        color: var(--primary);
    }
}
