@import url(../css/base.css);
@import url(../css/typography.css);
@import url(../css/alert.css);
@import url(../css/utility.css);

main {
    padding: 1rem 3rem;
    margin-top: 16rem;
}

/* Search bar */

.input {
    width: 30%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #dedfdf;
    margin: 0 1rem;
    text-align: center;
    border: none;
    font-size: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
