@import url(../css/base.css);
@import url(../css/typography.css);
@import url(../css/alert.css);
@import url(../css/utility.css);

main {
    padding: 1rem 3rem;
    margin-top: 16rem;
}

/* Tables */
table {
    font-size: 2rem;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: var(--text-light);
}

table,
th,
td {
    border: 1px solid var(--primary);
}
/* Search bar */
.input {
    width: 30%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #dedfdf;
    margin: 0 1rem;
    text-align: center;
    border: none;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Floating Button */
.to-top {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
    color: var(--primary);
}

/* Error Msg */
#errorMsg {
    display: none;
}

.not-found {
    margin: 10vh auto 0;
}

/* Styling embedded gists */
.blob-code,
.blob-num {
    font-family: monospace !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.gist-meta {
    font-size: 10px !important;
}
.gist-meta a {
    color: var(--primary) !important;
    text-decoration: none;
}

@media (hover: hover) {
    .gist-meta a:hover {
        color: var(--accent) !important;
    }
}
