@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600&family=Merriweather:wght@300;400;700&display=swap');

@import url(./css/base.css);
@import url(./css/utility.css);
@import url(./css/typography.css);

:root {
    --primary: #091429;
    --secondary: #6ec5ea;
    --accent: #ffdc5d;
    --light: #f8fafc;
    --text-light: #cbd5e1;
    --text-dark: #4289c1;
    --danger: #d84646;
    --danger--dark: #eb3737;
    --success: #4e9a51;
    --success--dark: #3b7d2e;
    --warning: #d4a13a;
    --warning--dark: #e99d04;
}

/* Main */
.main--container {
    margin-top: 10rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main--container-left {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--primary);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.main--container-right {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.section--link {
    display: flex;
    gap: 2rem;
    justify-content: center;
    float: left;
    padding: 0 1rem;
    font-size: 3rem;
    margin: 1rem;
}

/* Buttons */

.section--install {
    background-color: var(--secondary);
    color: var(--dark);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.section--install:hover {
    background-color: var(--primary);
    color: var(--text-light);
}

.section--documentation {
    background-color: var(--accent);
    color: var(--primary);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.section--documentation:hover {
    background-color: var(--primary);
    color: var(--text-light);
}

/* Installation */
.installation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: var(--primary);
    padding: 2rem;
}

.social--links {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 3rem;
}

.social--links a {
    color: var(--accent);
}

.social--links a:hover {
    color: var(--warning--dark);
}

/* Media Query */
@media (hover: none) {
    .section--documentation:hover {
        background-color: var(--accent);
        color: var(--primary);
    }

    .section--install:hover {
        background-color: var(--secondary);
        color: var(--dark);
    }

    .section--link a:hover {
        color: var(--accent);
    }
}
