@import url(./css/base.css);
@import url(./css/utility.css);
@import url(./css/typography.css);

/* Main */

main{
   margin-top: 10rem; 
}
.main--container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main--container-left {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--primary);
    color: var(--text-light);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.main--container-right {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

/* Buttons */

.section--link {
    display: flex;
    gap: 2rem;
    justify-content: center;
    float: left;
    padding: 0 1rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.section--install {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.section--install:hover {
    background-color: var(--primary);
    color: var(--text-light);
}

.section--documentation {
    background-color: var(--accent);
    color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.section--documentation:hover {
    background-color: var(--primary);
    color: var(--text-light);
}

/* Media Query */
@media (hover: none) {
    .section--documentation:hover {
        background-color: var(--accent);
        color: var(--primary);
    }

    .section--install:hover {
        background-color: var(--secondary);
        color: var(--primary);
    }
}


